<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>budi concierge[入居者用]</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.budi.tenant</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>tenantApp</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSHandlerRank</key>
	<string>1</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Privacy - Camera Usage Description</key>
	<string>このアプリは、バーコードをスキャンして写真を撮るためにカメラにアクセスする必要があります</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>このアプリは、バーコードをスキャンして写真を撮るためにカメラにアクセスする必要があります</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>このアプリはサーバーに送信するために画像を保存する必要があります。</string>
	<key>NSCameraUsageDescription</key>
	<string>このアプリは写真を撮るためにカメラにアクセスする必要があります。</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>このアプリはビデオを再生する必要があります。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>このアプリは、月ごとのデータを表示するためにカレンダーにアクセスする必要があります</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>このアプリは場所にアクセスする必要があります。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは場所にアクセスする必要があります。</string>
</dict>
</plist>
